{% extends 'base.html' %}

{% block content %}
<body style="font-family: Mulish, Ubuntu, Helvetica, Arial, sans-serif;">
    <div class="container" style="background: #FFFFFF; border-radius: 5px; padding: 20px; margin: 20px; width: 50%; margin: 0 auto; box-shadow: #30994B;">
        <img src="cid:myimage" class="logo" style="display: block; margin: auto; height: 50px;" />
        <h1 class="welcome-title" style="font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 24px; line-height: 150%; color: #373F51;">{% trans "Welcome" %} {{ name }}</h1>
        <p class="info" style="font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 16px; line-height: 200%; color: #373F51;">{% trans "Your account has been created on Healthy Entrepreneurs. Click on the link below to set your Password" %}</p>
        <div class="button-wrapper" style="align-self: center; width: 50%; margin: 0 auto;">
            <div style="margin-top: 60px; margin-bottom: 60px; width: 300px">
                <a href="{{ url }}" class="button" style="background: #30994B; border-radius: 4px; color: #FFFFFF; padding: 0.7rem 1.5rem; width: inherit; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 16px; line-height: 20px; text-align: center;">{% trans "Set Password" %}</a>
            </div>
        </div>
        <p class="info">{% trans "You can find answers to most questions and get in touch with us at" %}<span style="color:#30994B !important"><a href="mailto:support@healthyentrepreneurs.nl" style="color:#30994B !important">support@healthyentrepreneurs.nl</a></span>. {% trans "We’re here to help you at any step along the way." %}</p>
        <p class="feedback" style="font-family: Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 18px; line-height: 200%; color: #344055; padding-top: 40px;">{% trans "Yours, <br />The Healthy Entrepreneur’s Team" %}</p>
    </div>
</body>
{% endblock %}
