{% load i18n %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap" rel="stylesheet" type="text/css"/>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');

</style>
{% block content %}{% endblock %}

</html>